.connection-admin-container {
  display: flex;
  flex-direction: column;
  gap: 11.2rem;
}

.connection-admin-main-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.connection-admin-main-container > section > h1 {
  font-size: 8rem;
}

.connection-admin-main-container > section > h2 {
  font-size: 3.2rem;
}

@media screen and (max-width: 830px) {
  .connection-admin-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .connection-admin-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .connection-admin-main-container > section > h1 {
    font-size: 4rem;
  }

  .connection-admin-main-container > section > h2 {
    font-size: 1.6rem;
  }
}
