.content-admin-container {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  position: fixed;
  bottom: 0;
  left: 20.8rem;
  right: 0;
  height: calc(100% - 8rem);
}

#content-admin-search-bar {
  width: 24rem;
  height: 3.2rem;
  border-radius: 1.6rem;
  border: 1px solid #525b5a;
  padding: 0.5rem;
}

#content-admin-search-bar:focus {
  outline: 0.5px solid #525b5a;
}

.content-admin-container > section {
  width: 100%;
  background-color: #e5e9e7;
  height: calc(100% - 4.8rem);
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  padding: 1.6rem;
}

.content-admin-items-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  min-height: 0;
  overflow-y: scroll;
  scrollbar-color: #525b5a #e5e9e7;
  gap: 1.12rem;
}

.content-admin-titles-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-admin-titles-container > h2 {
  color: #525b5a;
  font-size: 20px;
}

.content-admin-pagination {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.content-admin-pagination.start {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.content-admin-pagination.end {
  width: 95%;
  display: flex;
  justify-content: flex-start;
}

.content-admin-pagination-button {
  background-color: #7dc952;
  color: white;
  border: none;
  border-radius: 1.6rem;
  padding: 0.8rem 2.4rem 0.8rem 2.4rem;
  max-width: fit-content;
  cursor: pointer;
}

@media screen and (max-width: 830px) {
  .content-admin-container {
    position: unset;
  }

  #content-admin-search-bar {
    width: 16rem;
    height: 2rem;
  }

  .content-admin-container > section {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 580px) {
  .content-admin-container {
    padding: 0;
  }
}

@media screen and (max-width: 580px) {
  .content-admin-container > section {
    height: calc(100% - 7rem);
  }
}
