.header-admin-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 25%;
  height: fit-content;
  padding: 0.5rem;
}

.header-admin-geocode-logo {
  width: 12.8rem;
}

.header-admin-title {
  font-size: 2.24rem;
}

@media screen and (max-width: 830px) {
  .header-admin-title {
    font-size: 1.2rem;
  }

  .header-admin-geocode-logo {
    width: 8.0rem;
  }

  .header-admin-container {
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 530px) {
  .header-admin-title {
    font-size: 1rem;
  }

  .header-admin-geocode-logo {
    width: 7rem;
  }
}
