.nav-admin-container {
  position: absolute;
  left: 0;
  top: 30%;
  background-color: #e5e9e7;
  color: #525b5a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 1.6rem 3.2rem 1.6rem 1.6rem;
  gap: 1.6rem;
  border-radius: 0 1.6rem 1.6rem 0;
  z-index: 2;
}

.nav-admin-content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nav-admin-content > ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.nav-admin-content > ul > li {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.92rem;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 0.96rem;
  cursor: pointer;
  color: #525b5a;
}

.nav-admin-link {
  color: #525b5a;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-admin-content > ul > li:hover {
  background-color: #cbcfcd;
  transition: 0.3s;
}

.nav-admin-content img {
  width: 1.92rem;
}

.nav-admin-content > p {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.92rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.96rem;
}

.nav-admin-content > button {
  border: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.92rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.96rem;
  appearance: none;
  background-color: unset;
  color: #525b5a;
}

.nav-admin-content > p:hover {
  background-color: #cbcfcd;
  transition: 0.3s;
}

.nav-admin-content > button:hover {
  background-color: #cbcfcd;
  transition: 0.3s;
}

.nav-admin-arrow {
  width: 1.12rem;
  cursor: pointer;
}

.nav-admin-container.close {
  cursor: pointer;
  border-radius: 0 4.96rem 4.96rem 0;
  padding-right: 1.6rem;
}

.nav-admin-line {
  width: 100%;
  border: 1px solid #525b5a;
}

.open-rotate-arrow {
  animation: openRotateArrow 0.3s linear;
}

.close-rotate-arrow {
  animation: closeRotateArrow 0.3s linear;
}

.open-nav-admin {
  animation: openNavAdmin 0.3s linear;
}

.show-nav {
  transform: translate(0, 0);
}

.rotated-arrow {
  transform: rotate(180deg);
}

@keyframes openRotateArrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes closeRotateArrow {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes openNavAdmin {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes closeNavAdmin {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
