.vehicle-page-container {
  padding: 0.5rem;
  display: block;
  flex-direction: column;
  gap: 6.4rem;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.vehicle-modification-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.vehicle-modification-dialog_box {
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  border: black 1px solid;
}

.vehicle-modification-dialog_box > caption {
  padding: 1.0rem;
  background: linear-gradient(
    90deg,
    var(--keppel-color-600),
    var(--chicago-color-200)
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.vehicle-modification-dialog_box > caption > button {
  background: none;
  border: none;
  cursor: pointer;
}

.vehicle-modification-dialog_box > caption > h2 {
  text-align: center;
}
.vehicle-modification-dialog_box > caption > button > img {
  width: 2.625rem;
  height: 2.625rem;
}

.vehicle-modification-dialog_box > section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--egg-color);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.vehicle-modification-dialog_box > section > form {
  width: 100%;
  padding: 1.625rem 4.1875rem 2.1875rem 4.1875rem;
  border: none !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.vehicle-modification-dialog_box > section label {
  color: black;
}

.vehicle-modification-dialog_box > section p {
  color: var(--red-color);
}

.vehicle-modification-dialog_box > section input,
.vehicle-modification-dialog_box > section select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--chicago-color-600);
}

.vehicle-modification-dialog_box > section .submit {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.625rem;
}

.vehicle-modification-dialog_box > section .submit > button {
  padding: 0.5rem 1.5rem;
  background-color: var(--keppel-color-600);
  border: none;
  border-radius: 1.25rem;
  cursor: pointer;
  color: var(--egg-color);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group:has(#type-name) {
  grid-column: span 2;
}

@media screen and (max-width: 580px) {
  .vehicle-page-container {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .vehicle-modification-dialog_box > section > form {
    padding: 1rem;
  }

  form {
    gap: 0.3rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 355px) {
  .vehicle-modification-dialog_box > section > form {
    display: flex;
  }
}
