.confirmation-delete-photo-container {
  position: absolute;
  background-color: #000000d7;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.warning-delete-text {
  width: 40%;
  background-color: var(--beige-color);
  color: var(--red-color);
  font-weight: 600;
  margin: 0 auto;
  margin-top: 7rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

@media (orientation: landscape) {
  .warning-delete-text {
    font-size: 1.5rem;
    padding: 2rem 2.5rem;
  }
}
