.confirm-delete-vehicle-user {
  background-color: var(--red-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.delete-vehicle-user {
  background-color: transparent;
  color: var(--chicago-color-700);
  border: solid 1px var(--chicago-color-700);
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.warning-delete-vehicle-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
}

@media screen and (width > 768px) and (orientation: landscape) {
  .warning-delete-text {
    width: fit-content;
  }
}
