.booking-delete-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.booking-delete-modal-container > article {
  background-color: #e5e9e7;
  height: fit-content;
  color: var(--chicago-color-950);
  font-size: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.booking-delete-modal-container > article > p {
  font-size: 16px;
  padding: 1rem;
}

.booking-delete-modal-title-container {
  color: white;
  background: linear-gradient(
    90deg,
    var(--keppel-color-600),
    var(--chicago-color-200)
  );
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}

.booking-delete-modal-button-container {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-around;
}

.booking-delete-modal-button {
  padding: 0.75rem 10%;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
  background-color: var(--keppel-color-600);
  color: white;
  cursor: pointer;
}

.delete {
  background-color: var(--keppel-color-400);
}

.booking-delete-modal-button:hover {
  background-color: #2d746cb9;
  transition: 0.2s;
}
