main div.display-station-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100% !important;
  height: 100% !important;
  left: 0px;
  top: 0px;
  z-index: 0;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

main div.display-station {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: var(--keppel-color-600);
  color: white;
  padding: 1.25rem 0 0.6875rem 0;
  position: fixed;
  bottom: 0px;
  height: fit-content;
  z-index: 1;
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
  pointer-events: all;
  border: black 1px solid;
}

main div.display-station.collapsed:has(h2:empty) {
  max-height: 9rem;
  min-height: 8.8675rem;
}

main div.display-station.collapsed {
  max-height: 10.43rem;
  min-height: 8.8675rem;
}

main div.display-station > div.station-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0.875rem 0;
  width: 100% !important;
}

main div.display-station > div.station-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100% !important;
  background-color: var(--beige-color);
  border-top-left-radius: 1.5625rem;
  border-top-right-radius: 1.5625rem;
}

main div.display-station.collapsed > div.station-main {
  display: flex;
  width: 100% !important;
}

main div.station-title > h2 {
  flex: 4;
  padding: 0 0 0 1.5625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main div.display-station.collapsed > div.station-title > h2 {
  padding: 0 1.5625rem 1.5625rem 1.5625rem;
}

main div.station-title > img {
  flex: 1;
  box-sizing: content-box;
  max-width: 1.6875rem;
  height: auto;
  padding: 0 1.5625rem 0 0;
  transform: rotate(0deg);
  transition: linear 0.2s;
  cursor: pointer;
}
main div.display-station.collapsed > div.station-title > img {
  padding: 1.5625rem 0 0 1.5625rem;
}

main div.display-station.collapsed img {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  main div.display-station {
    width: 66%;
  }
}

@media (max-width: 768px) {
  main div.display-station {
    width: 100%;
  }
}

main article.station-info {
  display: flex;
  background-color: var(--ghost-white-color);
  border-radius: 1.25rem;
  width: 100%;
  min-height: 100%;
  margin: 1.25rem 1.25rem 5.9875rem 1.25rem;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  color: var(--chicago-color-600);
  padding: 1.25rem;
  gap: 0.5rem;
  font-size: 1.25rem;
}

main section.station-address {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: var(--green-light-color);
  color: white;
  padding: 0 1.0625rem 0 1.0625rem;
  border-radius: 1.0625rem;
  gap: 0.5rem;
}

main section.station-reservation-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

main section.station-reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
}

main section.station-reserve > button {
  background-color: var(--green-light-color);
  color: white;
  border: none;
  border-radius: 1.0625rem;
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

main section.station-reserve > button:disabled {
  color: var(--chicago-color-600);
  cursor: unset;
}

main section > span.fire-brush {
  color: var(--fire-bush-color-400);
}

main form.station-reservation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.625rem;
  padding: 1.25rem 0 0 0;
  width: 100%;
}

main form.station-reservation-form > select {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 66%;
}

main form.station-reservation-form input {
  padding: 0.5rem;
  border-radius: 1rem;
  width: 66%;
}

main section.station-reservation-validate {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 100%;
}

main section.station-reservation-validate > button {
  background-color: var(--green-light-color);
  color: white;
  border: none;
  border-radius: 1.0625rem;
  padding: 0.5rem 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}
