.login-user-form-container {
  width: 100%;
  background-color: var(--keppel-color-600);
  height: 90%;
}

#password-forgotten-user-form {
  background-color: var(--beige-color);
}

.label-user-login {
  color: var(--chicago-color-700);
}

#button-get-numbers-password {
  font-size: 0.8rem;
  padding: .4rem .8rem;
}

#prev-login-mail {
  background-color: transparent;
  padding: 0;
  margin-right: .6rem;
}

#prev-login-mail img {
  width: 1rem;
}

#label-login-mail-forgotten {
  display: flex;
  justify-content: center;
  align-items: center;
}
