div.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  position: fixed;
  bottom: 0px;
  z-index: 0;
}

main {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  bottom: 0px;
  z-index: 0;
}

footer {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

@media (min-width: 768px) {
  footer {
    width: 66%;
  }
}

@media (max-width: 768px) {
  footer {
    width: 100%;
  }
}

footer ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3rem 2.6875rem 0.75rem 2.6875rem;
  list-style: none;
  background-color: var(--beige-color);
  border: var(--dark-color) 1px solid;
}

footer img {
  width: 2.625rem;
  height: 2.625rem;
}
